* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
  width: 70%;
  margin: 20px auto;
}

.todo-form {
  background-color: rgb(124, 124, 124);
  padding: 20px 30px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;

  gap: 20px;
  width: 100%;
}
.text-area {
  border: none;
  border-radius: 5px;
  height: 50px;
  padding: 20px 20px;
  flex: 2;
}

input:focus {
  outline: none;
}

.form-button {
  border: none;
  background: white;
  height: 50px;
  width: 70px;
  border-radius: 5px;
  cursor: pointer;
  color: black;
  transition: 0.5s linear;
}
.form-button:hover {
  color: chartreuse;
}

.todo-container {
  width: 100%;
}
p {
  height: 50px;
  width: inherit;
  color: white;
  background: rgb(124, 124, 124);
  padding: 20px 20px;
  margin-top: 10px;
  border-radius: 5px;
}
